@import 'common';
@import 'mixins';

body {
    .flex(column, nowrap, flex-start, center);
    .font(@primary-font, 16px, 400, #333);
    background-color: #f5f5f5;
}

#app {
    margin: 56px 0 0 0;
}

.tasks {

    .flex(column, nowrap, flex-start, flex-start);
    width: 512px;

    &__create-button {

        .flex(row, nowrap, center, center);
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        border-radius: 3px;
        border: 1px dashed rgba(0,0,0,.1);
        cursor: pointer;
        transition: .1s all linear;

        &:hover {
            border-color: rgba(0,0,0,.25);
        }

        span {
            font-size: 14px;
        }

    }

}

.task {

    .flex(column, nowrap, flex-start, flex-start);
    width: 100%;
    margin: 0 0 16px 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 16px rgba(0,0,0,.1);

    &:last-child {
        margin: 0;
    }

    &__text,
    &__input {
        width: 100%;
        font-size: 16px;
        padding: 16px;
        box-sizing: border-box;
    }

    &__input {
        background-color: #eaeaea;
    }

    &__buttons {
        .flex(row, nowrap, flex-end, flex-start);
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        background-color: #f7f7f7;
    }

    &__button {

        color: #333;
        font-weight: 600;
        font-size: 12px;
        margin: 0 8px 0 0;
        padding: 8px 12px;
        border-radius: 3px;
        background-color: #ddd;

        &:last-child {
            margin: 0;
        }

        &--success {
            color: #fff;
            background-color: #1dab1d;
        }

        &--danger {
            color: #fff;
            background-color: #ff4242;
        }

    }

}